body{
    color: azure;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.cabecalho{
    display: flex;
}

img.githubLogo{
    width: 20vw;
}
div.cabecalho{
    justify-content: center;
    margin: 10px;
    align-items: center;
}
div.cabecalho h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5rem;
}
input#user{
    margin: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid black;
}
button{
    margin: 10px;
    width: 8rem;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: grey;
    border-radius: 1rem;
    border: 0px;
}
section{
    align-items: center;
    padding: 5rem;
}
button:hover{
    background-color: rgb(175, 173, 173);
    transition: 0.3s;
}
div.formulario{
    justify-content: center;
    width: 100%;
}
form{
    width: 100%;
    display: flex;
}
div#resultado{
    margin: 40px;
    display: flex;
    align-items: center;
    border-radius: 10pc;
    background-color: rgb(204, 199, 199);
}
img.avatar{
    border-radius: 100%;
    width: 17rem;
}
.dados{
    margin-left:20px ;
}
.dados h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.dados p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dados a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 600px)
{
  .cabecalho{
      display: flex;
      flex-direction: column;
  }
  .cabecalho img.githubLogo{
      width: 40vw;
  }
  #resultado{
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      height: 600px;
  }
}